/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 3 Apr 2023, 8:55:06 pm
    Author     : ASUS
*/

.addBtn{
    width: 100%;
    text-align: center;
}

.row{
    align-content: center;
}

