/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 9 May 2023, 10:07:06 pm
    Author     : ASUS
*/

#paymentTable{
    width: 100%;
}

.formBody{
    margin-left: auto;
    margin-right: auto;
}
