.delivery-body{
    height: 500px;
    padding-left: 25%;
    color: #29292e;
}

.logoutForm{
    float: right;
    margin-right: 35%;
    margin-top: 2%;
}

.profile-body{
    height: 450px;
    padding-left: 25%;
    color: #29292e;
}
body{
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

/*    background-image: url('../images/profile.jpg');*/
/*    background-repeat: no-repeat;
    background-size: cover;*/
    }

.profile-body{
    padding-top: 3%;
}

.bg-secondary-soft {
    background-color: #F7F7F7;
}

#emaillbl{
    padding-top: 10px;
}

#custidlbl, #phonelbl, #usernamelbl, #emaillbl, #add1, #add2, #postcode, #city, #state{
    padding-left: 10px;
    color: #29292e;
}

#custID:hover{
    cursor: not-allowed;
}

#editbtn, #editDelivery{
    text-align: center;
    padding-top: 7%;
}

